body {
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    background-color: aquamarine;
}

main {
    margin-left: 1em;
}

nav a {
    margin-right: 1em;
    text-decoration: none;
}

article {
    margin: 1em;
    padding: 1em;
    flex: 1;
    background-color: antiquewhite;

    text-align: center;

}

article a {
    text-decoration: none;
    color: black;
}

img {
    height: 200px;
}

/***********/
/***CLASS***/
/***********/

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.btnFav {
    background-color: rgb(219, 98, 98);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
