body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding-bottom : 3em;
}

main {
    margin-left: 1em;
}

nav {
    padding: 1em 1em 1em 0;
    background-color: rgb(226, 103, 103);
}

nav a {
    padding: 1em;
    color: black;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(177, 80, 80);

    color: white;
    padding: 1em;
    text-decoration: none;
}

article {
    margin: 1em;
    padding: 1em;
    flex: 1;
    background-color: rgb(253, 232, 200);

    text-align: center;
}

article a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 30px;
}

img {
    height: 200px;
}

/************/
/***OUTILS***/
/************/

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

/************/
/***BUTTON***/
/************/

.btnUnfav {
    background-color: rgb(219, 98, 98);
    font-size: 16px;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    border: none;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btnFav {
    background-color: rgb(98, 120, 219);
    font-size: 16px;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    border: none;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btnSearch {
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(219, 98, 98);
    color: white;
    margin-top: .6em;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*************/
/***DETAILS***/
/*************/

.artDetails h2 {
    background-color: rgb(233, 179, 153);
    padding: .2em;
}

.flexDetails {
    display: flex;
    justify-content: center;
}

.artDetails {
    background-color: rgba(240, 248, 255, 0);
    text-align: left;
}

.secDetails {
    background-color: rgb(253, 232, 200);
    margin: 1em;
    padding: 1em;
}

.imgDetails {
    height: 25vw;
}

.btnReload {
    background-color: rgb(248, 236, 223);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
